<!-- index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex</title>
</head>
<body>
    <h1>Pokedex</h1>
    <p>Información del Pokedex:</p>
    <ul>

            <!--<li><%= pokenea.id %></li> -->
            <!--<li><%= pokenea.nombre %></li> -->
            <!--<li><%= pokenea.altura %></li> -->
            <!--<li><%= pokenea.habilidad %></li> -->
            <!-- <li><%= pokenea.habilidad %></li> -->
            <li><%= pokenea.imagen %></li>
            <li><%= pokenea.frase_filosofica %></li>
            <li><%= pokenea.container_id %></li>
            
    </ul>
</body>
</html>
